extends layout

block content
  h1= title
  
  p Badminton Club Oostakker is een recreatieve badmintonclub die al sinds 1985 in Oostakker meedraait. Hier vind je alle soorten spelers: jong en oud, talentvol en beginnelingen. Dit is een club waarbij iedereen zich meteen thuis voelt!
  p 
    |Omdat wij een recreatieve club zijn, hebben we geen trainingsmomenten maar spelen we de volle 2 of 3 uur enkel wedstrijden. Dit belet je natuurlijk niet van het innemen van een vrij terrein en wat te oefenen op je opslag of voetenwerk. De meer ervaren spelers zijn ook altijd bereid om je extra tips en begeleiding te geven, ook hier op de site staan er wat 
    a(href='/getstarted') tips 
    |om je te helpen.
  p 
    |Als je eens wilt komen proeven van deze toffe sport, neem dan zeker eens 
    a(href='/contact') contact 
    |op

  p 
  |Omdat wij een redelijk kleine club zijn, bestaat het bestuur uit 2 spelers die zich ontfermen over alle zaken, van het reserveren van pleinen en zalen op de vaste uren tot het voorzien van pluimen om mee te spelen. Heb je vragen? Ga dan zeker eens naar onze 
  a(href='/about/bestuur') bestuurspagina
  |, zij zullen je zeker verder helpen!
  br
  br
  p Als je eens een kijkje wilt komen nemen, ga dan zeker eens langs in onze vaste sporthal, sporthal Wolfput te Oostakker
  br
  br
  h3 Let op! Door werken in sporthal Wolfput spelen wij elke zondag en woensdag tot in het voorjaar van 2020 in sporthal Melopee.
  p Kijk zeker op de map om je niet te vergissen van locatie!
  block video
  .container
     iframe(src='https://www.google.com/maps/d/embed?mid=1LEcmoC27TSTWC2cgmBtHlxpokb69u0P8&hl=en' width='1080' height='480')
  br
  br
  h2 Speelmomenten
  p Onze club heeft wekelijks 2 speelmomenten, er zal via mail gecommuniceerd worden mochten er uitzonderingen zijn:
  .container
    iframe(src='https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FBrussels&src=dXZka3ZoaDUwdm43YWUwOXRnZWdmbHZxMDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=bmwuYmUjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23743500&color=%23336699&showTabs=1&showCalendars=0&showTz=0&hl=nl&title' style='border-width:0' width='800' height='600' frameborder='0' scrolling='no')
  h2 Tarieven
  p Omdat wij een recreatieve club zijn vragen wij ook maar het absolute minimuum om elke week op 2 speelmomenten de zaal te reserveren. 
  ul
    li
      | Basistarief (enkel zondag): #[em €45]
      ul
        li Tweede volwassene: #[em €40]
        li Minderjarige: #[em €25]
    li
      | Basistarief (zondag & woensdag): #[em €60]
      ul
        li Tweede volwassene: #[em €55]
        li Minderjarige: #[em €35]
  