extends layout

block content
  h1 #{bestuurslid.beschrijving}
  div(style='margin-left:20px;margin-top:20px')
  

    h2 Contact Info
      h3 Mail: 
      h5 
      a(href='mailto:'+bestuurslid.mail)  #{bestuurslid.mail}
      h3 Gsm nummer
      h5 #{bestuurslid.gsmnummer}
  br
  br
  br   
    