extends layout

block content
  h1= title
  
  p
    each bestuur in bestuur_list
      p 
        a(href=bestuur.url) #{bestuur.beschrijving} 

    else
      p Er is geen bestuur? we zijn dus failliet
  br  
  br 

 
  p Deze twee mannen houden samen de gehele club op poten. Wil je zelf eens mee komen spelen? Stuur dan zeker eerst een mail om naar een van deze twee om zo de verzekering in orde te krijgen.