extends layout

block content
  h1= title
  p 
  |Mocht je nog vragen hebben over de speelmomenten of over de tarieven, wees dan zeker niet bang en stuur zeker eens een 
  a(href='mailto:bestuur.BCO@gmail.be') mail!
  p 
  |Als je een directe vraag hebt en niet wilt wachten op een antwoord op je mail, check dan de 
  a(href= '/about/bestuur') bestuurspagina 
  | en kies je favoriete persoon om lastig te vallen!

  br
  br
  br