extends layout

block content
  h1= title

  h2 Geschiedenis
  p In het algemeen bestaan er vele theorieën over het ontstaan van badminton, maar men is het er wel over eens dat de oorsprone te vinden is in het tijdperk van Brits-Indië.
  p Er bestaan afbeeldingen van een toenmalig spel genaamd #[em battledore and shuttlecock] dat op zijn beurt overeenkomsten heeft met #[em ball badminton] dat oorspronkelijk is uit Tamil Nadu.
  p De Britse soldaten die gestationeerd waren in de kolonieën speelden namelijk badminton om zo hun tijd nuttig te verdrijven en hun conditie te behouden, op een ander tijdstip namen ze dan deel aan oorlogsmisdaden.
  p Dankzij deze soldaten vond het uiteindelijk de weg terug tot het Britse vasteland in het hertogdom van Hertog Beaufort, Badminton. Die kon uiteindelijk weinig spelen door de vele dagen met wind.
  p Algemeen kan men badminton dateren rond 1873 als het jaar waarin men de sport echt erkende. Het olympisch comité deed er wat langer over, in 1992 kwam de sport voor het eerst naar het olympisch stadion.
  br
  br
  p Hieronder vind je een afspeellijst met allemaal videos over hoe het spel er nu uitziet, en wat je allemaal nodig hebt.
  br
  br
  block video
  .container
    iframe(width='560' height='315' src='https://www.youtube-nocookie.com/embed/1UIhKZCPMYM?start=27' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  br
  br
  h2 Materiaal
  p Als beginner moet je je niet te veel aantrekken van je racket, een basis racket van rond de €30 is meer dan voldoende. Hier moet je wel opletten dat je geen racket koopt met een extern T stuk, maar een waarbij het T stuk intern zit zoals deze:
  .container
    a(href=('https://www.pdhsports.com/buying-guides/badminton-buying-guides/how-to-choose-a-badminton-racket'))
      img.ui.mini.rounded.image(src='/images/Tstuk.jpg' alt="build-in T joint" width= auto height = auto)
  br
  p Hetgene waar je wel veel aandacht moet aan besteden, is je schoensel. Neem een paar schoenen die gemaakt zijn voor de sport, deze schoenen ondersteunen de enkels extra want onze sport is en blijft een extreem reactieve sport. Een foute keuze aan schoensel kan leiden tot ernstige letsels, en niemand wilt dat.
  br
  p Voor meer gevorderde spelers gaat de keuze van het racket wel een impact hebben. Deze keuze hangt volledig af van je speelstijl.
  h2 Speelstijlen en hun rackets  
  p Algemeen zijn er 3 speelstijlen en 3 soorten rackets die elk van deze stijlen ondersteunen:
  o1
    li Aanvallende stijl.
    li Controle stijl.
    li Combinatie stijl.
  br
  p De keuze van de racket zit in de verdeling van het gewicht. Laten we beginnen met de Aanvallende stijl:
  br
  h3 Aanvallende stijl
  p Spelers die een Aanvallende stijl hebben, zijn vooral spelers die smashen als de setup het toelaat. Omdat deze spelers graag en vaak gaan smashen is het racket zo ontworpen dat het gewicht meer naar de kop van het racket verdeeld is. Dit laat toe om als speler een zwaardere en uiteindelijk ook een snellere smash uit te voeren. Maar wat je wint aan kracht en snelheid zal je door diezelfde verdeling verliezen aan controle.
  br
  h3 Controle stijl
  p Spelers die een Controle stijl hebben, zijn spelers die pluimen met uitstekende nauwkeurigheid over het net kunnen plaatsen. Om aan extra controle te winnen zit het gewicht van het racket vooral in de steel zodat het niet echt aanvoelt dat je met iets staat te zwaaien op het veld. Door deze balans zo te verschuiven kan de speler beter inschatten hoeveel kracht hij zou moeten steken in een drop. Het nadeel is dan weer dat je meer kracht moet zetten bij offensieve slagen zoals de smash en de clear.
  br
  h3 Combinatie stijl
  p Als laatste heb je spelers die even graag smashen als droppen en zich niet echt willen specialiseren. Het racket dat hier het best geschikt voor is, is er een waarbij de balans zich juist in het midden bevindt. Om het gemakkelijk te stellen heb je er niet echt nadelen aan behalve dat het niet echt een voordeel heeft.
  br
  br
  h3 Extra Tips
  p Voor meer hulp bij het kiezen van het racket kan je klikken op de afbeelding. Stel zeker ook vragen aan de medewerker van dienst in de winkel waar je hem zal kopen!
  br
  br
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script.
    $(document).ready(function(){
      $("button").click(function(){
        $.ajax({url: "https://quotes.rest/qod.json?category=sports", success: function(result){
        $("#div1").html(result.contents.quotes[0].quote);
        $("#div2").html("~ " + result.contents.quotes[0].author);
        }});
      });
      });
  button
    h4 Quote Of The Day
  h4
    #div1
  h5
    #div2 

  br
  br
  br

