extends layout

block content
  h1= title
  p Welkom bij #[em Badminton Club Oostakker], een heel gezellige club gebaseerd in Oostakker.

  h1 Home

  if error
    p Error getting dynamic content.
  else
    p Badminton Club Oostakker bestaat uit zo'n 20 leden over heel Groot Gent!
    p 
    |Heb je zelf interesse om eens te proeven van onze sport? neem dan zeker 
    a(href='/contact') contact 
    | op met onze Club


  br
  br
  br
	  


    