doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/BCOico.png')
  body
    div(class='topnav')
      a(href='/') 
         img.ui.mini.rounded.image(src='/images/BCO.jpg' alt="BCO" width= auto height = 18)
      a(href='/') Home
      a(href='/about') Over onze Club
      a(href='/getstarted') Get Started
      a(href='/resultaten') Resultaten
      a(href='/contact') Contact
      .containerL
        a(href='/user/login' align='right') Account

    div(class='col-sm-10')  
      block content
    div(class='col-sm-2')#twitter
      a.twitter-timeline(data-height='2000' href='https://twitter.com/yonex_badminton?ref_src=twsrc%5Etfw') Tweets by yonex_badminton
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    div(class= 'footer')
      a(href='/contact') Meer vragen? Neem contact op!