doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='/images/BCOico.png')
  body
    nav(class='navbar navbar-inverse')
      div(class='container-fluid')
        div(class="navbar-header")
          button(class='navbar-toggle' type='button' data-toggle='collapse' data-target='#myNavbar')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand' href='/')
            img( src='/images/BCO.jpg' alt="BCO" style='max-width:75px; margin-top: -7px;')
        div(class='collapse navbar-collapse' id='myNavbar')
          ul(class='nav navbar-nav')
            li
              a(href='/') Home
            li
              a(href='/about') Over onze Club
            li
              a(href='/getstarted') Get Started
            li
              a(href='/resultaten') Resultaten
            li
              a(href='/contact') Contact
            //.containerL
          ul(class='nav navbar-nav navbar-right')
            li
              a(href='/user/login' align='right') Account

    div(class='col-sm-10')
      block content
    div(class='col-sm-2 hidden-sm hidden-xs')#twitter
      a.twitter-timeline(data-height='2000' data-chrome="noscrollbar" href='https://twitter.com/yonex_badminton?ref_src=twsrc%5Etfw') Tweets by yonex_badminton
      script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    footer(class= 'navbar navbar-default navbar-fixed-bottom')
      div(class='container')
        a(href='/contact') Meer vragen? Neem contact op!

br
