extends layout

block content
  h1= title
  br
  .button
    a(href ='/resultaten/create')
      Nieuwe Nieuwe resultaten Toevoegen
  br
  br
  ul
    each resultaat in resultaten_list
      li 
        a(href=resultaat.url) #{resultaat.AltScore} 
        

    else
      li Er zijn geen resultaten