extends layout

block content

  h1 Resultaat
  h1  #{resultaten.Teams} :  #{resultaten.Resultaat}
  
  div(style='margin-left:5px;margin-top:20px')

    h2 Opmerkingen
      h4 #{resultaten.Opme}

    if canDelete
      a(href=resultaten.deleteUrl)
        button VERWIJDEREN
    