extends layout

block content

  h1 Resultaat
  h2  #{resultaten.Teams} :  #{resultaten.Resultaat}
  
  div(class='resultaat' style='margin-left:5px;margin-top:20px')

    h4#opmerkingHeader Opmerkingen:
      h4#opmerking #{resultaten.Opme}
    
    br
    br

    if canDelete
      a(href=resultaten.deleteUrl)
        button.btn.btn-danger(type='button') VERWIJDEREN
    

  br
  br
  br