extends layout

block content
  h1= title
  br
  a(href ='/resultaten/create')
    button.btn.btn-info.btn-block(type='button') Nieuwe resultaten Toevoegen

  br
  br
  ul
    each resultaat in resultaten_list
      li 
        a(href=resultaat.url)#resultatenStyle #{resultaat.AltScore} 
        

    else
      li Er zijn geen resultaten


  br
  br
  br