extends layout



block content
    if topError
        h3#Error Er is iets fout gegaan

    h1 #{user.voornaam + " " + user.achternaam}
    
    a(href='/user/me/resultaten')
        button.btn.btn-info(type='button') Mijn Resultaten

    
    a(href='/user/logout')#logoutbtn
        button.btn.btn-info(type='button') Uitloggen


    

