extends layout



block content
    if topError
        h3#Error Er is iets fout gegaan

    h1 #{user.voornaam + " " + user.achternaam}

    a(href='/user/me/resultaten')
        button Mijn Resultaten

    a(href='/user/logout')
        button UITLOGGEN

    

