
body {
  margin-top : 0px;
  padding: 0px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}

.container{
  margin-top: 8px;
}

a {
  color: #5bc0de;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#Error{
	color:red;
}

#resultatenStyle{
  display: flex;
  color:#002c6e;
  align-items: center;
  padding: 0;
  text-align: center;
}

#teamElement{
  margin:0px;
  flex: 1.5;
  font-size: 1.3em;
  align-items: 'right';
  padding: 0px 3px 0px
}

#scoreElement{
  margin:0px 20px 0px;
  background: #222222;
  color: white;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  flex: 1;
  padding: 19px 0px 19px
}

#opmerkingHeader{
  color: #fcac17;
}

#opmerking{
  color: #737373

}

#resultaatTitel{
  font-weight: 300;
}

.embedded{
  display: flex;
  align-items: 'left';
}

