
body {
  margin-top : 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  margin-top: 8px;
}

a {
  color: #00B7FF;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#Error{
	color:red;
}

#resultatenStyle{
  color:#002c6e;
}

#opmerkingHeader{
  color: #fcac17
}

#opmerking{
  color: #737373

}

#resultaatTitel{
  font-weight: 300;
}
